// components are buttons fonts and things users interact with on the site

/* font-family: 'Kalam', cursive;
font-family: 'Germania One', cursive; */

button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    height: 1.5rem;
    width: 5rem;
    font-family: 'Kalam', cursive;
    margin: auto;
}

