// home page 


.blog-heading {
    color: rgb(255, 255, 255);
  }
  
  .blog-description {
    font-family: 'Kalam', cursive;
    text-align: center;
    padding-bottom: 4em;
    margin: 0;
  }
  
  .home-text {
    color: rgb(255, 255, 255);
    padding-top: 5%;
    padding-left: 10%;
    font-size: 2em;
    font-family: 'Kalam', cursive;
  }
  
  .under-header-home {
    background-color: rgb(211, 195, 195);
  }
  
  .blog-section {
    background-image: url(../images/nicol-bolas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .text-uppercase {
    color: white;
  }
  
  .footer-para {
    color: white;
  }

  // registration form

  // registration page body

.registration-bg {
  background-image: url(https://images4.alphacoders.com/207/thumb-1920-207154.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-text {
  color: white;
}

